@import '../../styles/variables';

.description {
  height: 336px;
  color: #373737;
  font-family: 'Crimson Text';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 31.2px;

  @media screen and (min-width: $tablet) {
    height: 446px;
    font-size: 24px;
  }
}
