@import '@/styles/_variables.scss';

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 104px 0px 35px 0px;
  @media screen and (min-width: $tablet) {
    padding: 176px 24px 72px 24px;
  }
  @media screen and (min-width: 1280px) {
    padding: 101px 32px 72px 32px;
  }
  @media screen and (min-width: 1440px) {
    padding: 101px 24px 72px 24px;
    max-width: 1440px;
  }
  // padding: 24px 0px 35px 0px;

  // @media screen and (min-width: $tablet) {
  //   padding: 40px 24px 72px 24px;
  // }

  // @media screen and (min-width: $desktop) {
  //   padding: 27px 24px 72px 24px;
  // }
  // @media screen and (min-width: 1440px) {
  //   max-width: 1920px;
  // }
}

.toBackContainer {
  padding-left: 20px;
  @media screen and (min-width: $tablet) {
    padding-left: 0px;
    margin-bottom: 14px;
  }
}

.contactContainer {
  width: 100%;
}

.titleContainer {
  height: 164px;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  @media screen and (min-width: 511px) {
    height: 117px;
  }

  @media screen and (min-width: $tablet) {
    height: 160px;
    margin-bottom: 28px;
  }
  @media screen and (min-width: $desktop) {
    height: 90px;
    // height: 195px;
    // margin-bottom: 20px;
    margin-bottom: 32px;
  }
}

.title {
  color: #000000;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 24px;
  padding: 0px 20px;
  @media screen and (min-width: $tablet) {
    font-size: 40px;
    margin-bottom: 32px;
    padding: 0px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 32px;
    // font-size: 48px;
    margin-bottom: 16px;
  }
}

.text {
  width: 100%;
  color: #000000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0px 20px;
  @media screen and (min-width: $tablet) {
    text-align: justify;
    font-size: 24px;
    padding: 0px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 20px;
    // font-size: 32px;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  // -webkit-box-align: center;
  // -ms-flex-align: center;
  // align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;

  @media screen and (min-width: 1024px) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
  }
}

.mapImgContainer {
  position: relative;
  width: 100%;
  height: 246px;
  margin-bottom: 20px;
  @media screen and (min-width: $tablet) {
    height: 525px;
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1024px) {
    width: 712px;
    height: 375px;
    // height: 525px;
    margin-right: 5%;
    margin-bottom: 0px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 10%;
  }
}

.mapImg {
  -o-object-fit: cover;
  object-fit: cover;
}

.addressContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0px 20px;
  @media screen and (min-width: $tablet) {
    position: relative;
    width: 100%;
  }
  @media screen and (min-width: 1024px) {
    width: max-content;
  }
}

.city {
  height: 24px;
  // height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: $acentColor;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @media screen and (min-width: $tablet) {
    font-size: 32px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 24px;
    // font-size: 36px;
  }
}

.cityContainer {
  display: none;
  @media screen and (min-width: 1024px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 16px;
    // margin-bottom: 46px
  }
}

.citySvg {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  @media screen and (min-width: $tablet) {
    width: 36px;
    height: 36px;
    margin-right: 56px;
  }
  @media screen and (min-width: 1024px) {
    margin-right: 30px;
  }
  // @media screen and (min-width: $desktop) {
  //   margin-right: 40px;
  // }
}

.cityContainerMobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 8px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.addressMobile {
  color: $acentColor;
  font-size: 16px;
  font-weight: 400;
  @media screen and (min-width: $tablet) {
    font-size: 20px;
  }
  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.address {
  display: none;
  @media screen and (min-width: 1024px) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 40;
    -moz-column-gap: 40;
    column-gap: 40;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    // font-size: 24px;
    margin-bottom: 20px;
    // margin-bottom: 33px;
    line-height: normal;
    color: $acentColor;
  }
}

.imgContainer {
  display: none;
  @media screen and (min-width: 1024px) {
    position: relative;
    display: block;
    width: 36px;
    height: 36px;
    margin-right: 30px;
  }
  // @media screen and (min-width: $desktop) {
  //   margin-right: 40px;
  // }
}

.img {
  -o-object-fit: contain;
  object-fit: contain;
}

.telContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.svg {
  width: 24px;
  height: 24px;
  stroke: $acentColor;
  margin-right: 16px;
  @media screen and (min-width: $tablet) {
    width: 36px;
    height: 36px;
    margin-top: 10px;
    margin-right: 56px;
  }
  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.telContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  row-gap: 16px;
  margin-bottom: 8px;
  @media screen and (min-width: $tablet) {
    margin-bottom: 16px;
  }

  @media screen and (min-width: 1024px) {
    margin-bottom: 35px;
    // margin-bottom: 64px;
  }
}

.tel {
  color: $footerLocationColor;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  @media screen and (min-width: $tablet) {
    font-size: 32px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 24px;
    // font-size: 36px;
  }
  &:hover,
  &:focus {
    color: #636363;
  }
}

.mailContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  @media screen and (min-width: $desktop) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}

.mail {
  color: $footerLocationColor;
  font-family: var(--font--crimsonPro);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 35px;
  @media screen and (min-width: $tablet) {
    font-size: 36px;
    text-align: start;
    margin-bottom: 0px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 28px;
    margin-bottom: 35px;
    // margin-bottom: 35px;
  }
  &:hover,
  &:focus {
    color: $footerTextColor;
  }
}

.socialLinksContainer {
  gap: 16px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  @media screen and (min-width: $tablet) {
    position: absolute;
    right: 20px;
    top: 44px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  @media screen and (min-width: 1024px) {
    position: static;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
  }
}

.socialLinks {
  width: 34px;
  height: 34px;
}
