@import "../../styles/variables";

.container {
  padding: 16px;
  width: 100%;
}

.displaySizeMessage {
  width: 90%;
  font-size: clamp(16px, 4vw, 30px);
  font-weight: 700;
  color: red;
  text-align: center;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.contentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;

  @media screen and (min-width: $tablet) {
    align-items: normal;
    justify-content: normal;
    gap: 50px;
    width: 100%;
    flex: none;
  }

  @media screen and (min-width: $desktop) {
    gap: 100px;
    // padding: 149px 40px 40px;
  }
}

.products {
  display: none;

  @media screen and (min-width: $tablet) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 50vw;
  }
}

.product {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  // -webkit-box-align: center;
  // -ms-flex-align: center;
  // align-items: center;
  flex-direction: column;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 5px;
  // margin: 20px 0px;
  padding: 10px;
  background-color: #8c878fd6;
  border-radius: 5px;
  border: 1px solid navy;
}

.product:not(:last-child) {
  margin-bottom: 20px;
}

.imgsWrapper {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.imgCont {
  width: 200px;
  height: 100px;
  position: relative;
}

.textContent {
  display: block;
  width: 40vw;
  overflow: hidden;
  white-space: nowrap;
}

.models {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.bodies {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.btnsWrapper {
  position: absolute;
  top: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
}

.editLink {
  display: flex;
}

.editIcon {
  width: 20px;
  height: 20px;
}

.deleteIcon {
  width: 20px;
  height: 20px;
}

.editIcon:hover {
  fill: yellow;
}

.deleteIcon:hover {
  cursor: pointer;
  fill: red;
}
