@import "../../styles/variables";

.hero {
  height: 504px;

  padding: 24px;

  @media screen and (min-width: $tablet) {
    height: 524px;
  }
  @media screen and (min-width: $desktop) {
    height: 580px;
    padding: 40px;
  }
}
.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 100%;

  & h2 {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
