.HomeSliderSwiper {
  width: 100%;
  height: 380px;
  padding-bottom: 40px;
}

.HomeSliderSwiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.HomeSliderSwiper .swiper-slide a {
  display: inline-block;

  width: 90%;
  height: 90%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.HomeSliderSwiper .swiper-slide a:hover,
.HomeSliderSwiper .swiper-slide a:focus {
  scale: 0.99;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.HomeSliderSwiper a img {
  position: absolute;

  object-fit: contain;
  object-position: center;
  z-index: 0;
}

.HomeSliderSwiper a p {
  position: absolute;
  bottom: 0px;
  width: 152px;
  height: 24px;
  color: white;
  background-color: #2d2d2d;
  text-align: center;

  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.HomeSliderSwiper .swiper-button-prev,
.HomeSliderSwiper .swiper-button-next {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 52px;
  height: 12px;
  color: transparent;
  top: auto;
  bottom: 0px;

  @media screen and (min-width: 768px) {
    height: 16px;
    width: 124px;
  }
}

.HomeSliderSwiper .swiper-button-prev::after,
.HomeSliderSwiper .swiper-button-next::after {
  width: 100%;
}

.HomeSliderSwiper .swiper-button-prev {
  background-image: url("../../../public/png/ArrowLeft.webp");
  left: 10%;
  @media screen and (min-width: 1280px) {
    left: 30%;
  }
}

.HomeSliderSwiper .swiper-button-next {
  background-image: url("../../../public/png/ArrowRight.webp");
  right: 10%;

  @media screen and (min-width: 1280px) {
    right: 30%;
  }
}

.HomeSliderSwiper .swiper-pagination {
  bottom: 0px;
}

.HomeSliderSwiper .swiper-pagination-bullet {
  background-color: #7d7d7d;
  width: 12px;
  height: 12px;
  @media screen and (min-width: 768px) {
    width: 16px;
    height: 16px;
  }
}

.HomeSliderSwiper .swiper-pagination-bullet-active-prev,
.HomeSliderSwiper .swiper-pagination-bullet-active-next {
  opacity: 0.6;
}
