@import "../../../styles/variables";

.header {
  z-index: 10;
  padding: 10px 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $headerBg;
  position: fixed;
  transition-duration: 500ms;

  & .container {
    width: 100%;
    display: flex;
    margin: 0px 24px;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  @media screen and (min-width: $tablet) {
    height: 136px;
    & .container {
      width: 100%;
      margin: 0px 68px;
    }
  }
  @media screen and (min-width: $desktop) {
    height: 85px;
    & .container {
      width: 100%;
      margin: 0px 36px;
    }
  }
}

.Visible {
  transform: translateY(0%);
}

.Hidden {
  transform: translateY(-100%);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLink {
  font-size: 12px;
  font-weight: 300;
  @media screen and (min-width: $tablet) {
    font-size: 16px;
    font-weight: 400;
  }
}

.logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  & span {
    color: $lightFontColor;
    background-color: $darckFontColor;
    padding: 4px;
    margin-right: 4px;
  }
}

.rightContent {
  display: flex;
  gap: 20px;
  align-items: center;
}

.btnsBlock {
  display: flex;
  align-items: center;
  gap: 24px;

  & .desktopBtnsWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    @media (min-width: $desktop) {
      flex-direction: row;
    }
  }
}

.mobileNavigation,
.mobileNavigationVisible {
  position: absolute;
  top: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: $lightFontColor;
  font-size: 16px;
}

.mobileNavigation {
  height: 1px;
}

.mobileNavigationVisible {
  height: fit-content;
  padding: 20px;
  gap: 20px;
}

.navLinks {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  align-items: center;
  @media (min-width: 580px) {
    flex-direction: row;
    justify-content: center;
  }
}

.socLinks {
  gap: 16px;
  & li {
    width: 28px;
    height: 28px;
  }
}
