.header {
  width: 100%;
  padding: 10px 0;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogo {
  width: 24px;
  height: 24px;
  @media screen and (min-width: 768px) {
    width: 36px;
    height: 36px;
  }
  @media screen and (min-width: 1440px) {
    width: 48px;
    height: 48px;
  }
}

.headerNav {
  display: flex;
  align-items: center;
  column-gap: 24px;
  @media screen and (min-width: 768px) {
    column-gap: 44px;
  }
  @media screen and (min-width: 1024px) {
    column-gap: 99px;
  }
}

.headerLink {
  color: var(--main-color);
  font-size: 12px;
  font-weight: 300;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    font-weight: 400;
  }
  @media screen and (min-width: 1024px) {
    font-size: 20px;
    font-weight: 500;
  }
}
