.container {
    display: flex;
    gap: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    padding: 10px;
    background-color: #8c878fd6;
    border-radius: 5px;
    height: fit-content;
}

.photosWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.videosWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.imgContainer {
    width: 200px;
    height: 100px;
    position: relative;
}

.img {
    object-fit: cover;
}

.carModelsWrapper {
    display: flex;
    gap: 10px;
}

.carBodiesWrapper {
    display: flex;
    gap: 10px;
}