@import "../../../styles/variables";

.footer {
  width: 100%;
  height: 252px;
  background-color: $headerBg;
  padding: 16px 24px;

  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: $acentColor;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: $tablet) {
    height: 280px;
  }
}
.caption {
  display: flex;
  justify-content: center;
  color: $darckFontColor;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 4px;
  margin-top: auto;
}
