@import '../../styles/_variables.scss';

.productContainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  // row-gap: 32px;
  overflow: hidden;
  // border: 1px solid #6d6d6d;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 4px;
  &:hover,
  &:focus {
    box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
  }
}

.imgContainer {
  position: relative;
  width: 272px;
  height: 365px;
  @media screen and (min-width: $tablet) {
    width: 352px;
    height: 360px;
  }
  @media screen and (min-width: $desktop) {
    width: 296px;
    height: 333px;
  }
}

.img {
  -o-object-fit: contain;
  object-fit: contain;
}

.productContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 12px;
  padding: 15px 15px 15px 15px;
  // padding: 0px 15px 15px 15px;
  // background-color: #fafafa;
  @media screen and (min-width: $tablet) {
    padding: 15px 30px 15px 30px;
  }
}

.infoProduct {
  font-family: Pridi;
  color: #6d6d6d;
  font-size: 16px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  @media screen and (min-width: $tablet) {
    font-size: 20px;
  }
}

.priceProduct {
  font-family: Pridi;
  color: $acentColor;
  font-size: 20px;
  font-weight: 400;
  margin-top: 12px;
}

.btnProduct {
  position: absolute;
  width: 123px;
  bottom: 10px;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 24px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: 1px solid $acentColor;
  color: $acentColor;
  font-family: Segoe UI;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: $acentColor;
    color: $lightFontColor;
  }
}
