@import "../../../../styles/_variables";

.dropdownDark,
.dropdown {
  z-index: 30;
  display: inline-block;
}
.dropdownDark {
  & .dropBtn {
    border: 1px solid $darckFontColor;
    color: $darckFontColor;
  }
  & .svg {
    stroke: $darckFontColor;
  }
  & .label {
    color: $darckFontColor;
  }
}

.dropBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-column-gap: 8px;
  -moz-column-gap: 8px;
  column-gap: 8px;
  border-radius: 24px;
  border: 1px solid $lightFontColor;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
}

.langSwitcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 6px;
}

.langIndicator {
  margin-right: 13px;
  font-size: 12px;
  @media screen and (min-width: $tablet) {
    font-size: 16px;
  }
}

.langToggle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 24px;
  height: 10px;
  transform: translateY(22%);

  border-radius: 10px;
  background-color: black;

  cursor: pointer;
}

.ball,
.ballEng {
  position: absolute;
  z-index: 8;
  -webkit-box-shadow: 0px 2px 8px 0px #00000029;
  box-shadow: 0px 2px 8px 0px #00000029;

  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #ffff;

  left: 10%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ballEng {
  left: 90%;
}
